<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material},
				~{::#breadcums}
				)}">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<th:block id="breadcums">
		<ul class="breadcrumb">
			<li><a th:href="@{/index}">Trang chủ</a></li>
			<li><a th:href="@{/compare}">So sánh</a></li>			
		</ul>
	</th:block>
	<th:block id="aside">
		<div th:replace="/user/account/account_aside"></div>
		<div class="swiper-viewport">
        <div id="banner2" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#"
                ><img
                  src="/assets/user/image/cache/catalog/banners/banner-dung3.jpg"
                  alt="Right Banner2"
                  class="img-responsive"
              /></a>
            </div>
          </div>
        </div>
      </div>		
	</th:block>

	<main>
		<div th:replace="/user/compare/compare_product"></div>
	</main>

</body>
<th:block id="material">
	<script type="text/javascript">
		function showTob() {
			$("#showTob").show();
			$("#hideTob").hide();
		}
		function hideTob() {
			$("#showTob").hide();
			$("#hideTob").show();
		}
		hideTob();
		
		$("#imgTob.img-thumbnail").hover(function() {
			$(this).attr('height','600px');
			$(this).attr('width','600px');
			$(this).fadeOut( 100 );
			$(this).fadeIn( 500 );
		}, function () {
			$(this).attr('height','150px');
			$(this).attr('width','150px');
		});
	</script>
</th:block>
</html>